<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="TableConnectionString" value="DefaultEndpointsProtocol=https;AccountName=platzistorage;AccountKey=yYv6va96CMoaYxlWo03xclEgHRHR2LuFr92cmhDcEn87t71YTxwKufyym8r8sXhXWbNg3tnrFDeAey/hfP2+0g==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>